body{
  margin: 0;
  padding: 0;
  background-color: #0b0c10;
  font-family: Tahoma;
  color: #e9e9ef;
}

header{
  background: #0f0f16;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
}

#title a{
  color: beige;
  text-decoration: none;
  font-size: 22px;
  text-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

#char-section{
  width: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
}

#char-card{
  background-color: #15151f;
  width: 90%;
  max-width: 880px;
  padding: 20px;
  border-radius: 16px;
  display: flex;        
  flex-direction: row;          
  gap: 20px;                    
  flex-wrap: wrap;             
}


#char-image-box{
  flex-grow: 1;                 
  display: flex;
  justify-content: center;
  align-items: center;
}

#char-img{
  width: 260px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

#char-info{
  flex-grow: 2;                 
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.bio{
  line-height: 1.8;
  color: #b8b8c9;
}

#stats{
  display: flex;                
  gap: 12px;
  justify-content: start;
}

.stat-box{
  background-color: #1a1a26;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid #222;
  flex-grow: 1;                 
  text-align: center;
}

.stat-title{
  display: block;
  font-size: 14px;
  color: #b6b6c9;
}

.stat-value{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

footer{
  text-align: center;
  padding: 18px;
  margin-top: 30px;
  background-color: #0f0f16;
}
#characters{
  width: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* کارت اصلی */
.char-card{
  background-color: #15151f;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0 8px 18px rgba(0,0,0,0.35);
}

/* جعبه عکس */
.char-img-box{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.char-img{
  width: 260px;
  border-radius: 14px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.4);
}

/* اطلاعات */
.char-info{
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bio{
  color: #b8b8c9;
  line-height: 1.8;
}

/* بخش استتس */
.stats{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.stat-box{
  background-color: #1a1a26;
  border: 1px solid #222;
  padding: 12px 16px;
  border-radius: 12px;
  flex-grow: 1;
  text-align: center;
}

.stat-box span{
  display: block;
  font-size: 14px;
  color: #b6b6c9;
}

.stat-box strong{
  display: block;
  margin-top: 4px;
  font-size: 20px;
  color: #fff;
}

